<h1>{{name}}</h1>


<dl>

  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Metodo:</td>
  <dd>{{ getHeroDescriptions () }} </dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>



</dl>

<button
  *ngIf="name !== 'Capitan America'"
  (click)="changeHero()" class="btn btn-primary mx-2" cli>
  Cambiar nombre
</button>

<button
  *ngIf="age !== 105"
  (click)="changeAge()" class="btn btn-primary mx-2">
  Cambiar edad
</button>

<button
  *ngIf="name !== 'iroman' || age !== 45"
  (click)="reset()" class="btn btn-primary mx-2">
  Reset
</button>
